button.JsPanel_minbtn {
	background: url('min-up.png');
}

div.JsPanel_minimized button.JsPanel_minbtn {
	display: none;
}

button.JsPanel_minbtn_down {
	background: url('min-down.png');
}

button.JsPanel_maxbtn {
	background: url('max-up.png');
}
 
div.JsPanel_container button.JsPanel_maxbtn {
	display: none;
}
 
button.JsPanel_maxbtn_down {
	background: url('max-down.png');
}
 
button.JsPanel_closebtn {
	background: url('close-up.png');
}

button.JsPanel_closebtn_down {
	background: url('close-down.png');
}
 
div.JsPanel_ul {
  background: url('ul.png') top left no-repeat;
}

div.JsPanel_ur {
  background: url('ur.png') top right no-repeat;
}

div.JsPanel_ll {
  background: url('ll.png') bottom left no-repeat;
}

div.JsPanel_lr {
  background: url('lr.png') bottom right no-repeat;
}

div.JsPanel_leftmid {
  background: url('left.png') top left repeat-y;
}

div.JsPanel_rightmid {
  background: url('right.png') top right repeat-y;
}

div.JsPanel_midupper {
  background: url('top.png') top left repeat-x;
}

div.JsPanel_midlower {
  background: url('bottom.png') bottom left repeat-x;
}

